
body {
    font-family: 'Crimson Text', 'TeX Gyre Pagella', 'Daniel Black', 'EB Garamond 12', serif;
    font-size: 20px;
}
pre {
    font-family: 'mononoki', 'Ubuntu Mono', 'Consolas', monospace;
    font-size: 70%; 
    white-space: pre;
}
blockquote {
    font-family: 'mononoki', 'Ubuntu Mono', 'Consolas', monospace;
    font-size: 70%; 
}